services:
  - type: web
    name: wc-processor
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.7"
      - key: SECRET_KEY
        generateValue: true
      - key: AUTH_USERNAME
        sync: false
      - key: AUTH_PASSWORD
        sync: false
    healthCheckPath: /health
    autoDeploy: true
